@page
@model VideoViewer.Pages.LiveModel
@{
    ViewData["Title"] = "Live";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>

<style>
    video {
        width: 640px;
        height: 360px;
    }
</style>
@using (Html.BeginForm())
{
    @for (var i = 0; i < Model.devices.Count; i++)
    {
        <div class="form-check form-check-inline">
            @Html.CheckBox($"deviceCheckbox[{i}]", @Model.devices[i].StreamActive, new { @class = "form-check-input", @type = "checkbox", @id = $"{Model.devices[i].HostName}" })
            <label class="form-check-label" for="@Model.devices[i].HostName">@Model.devices[i].FriendlyName</label>
        </div>
    }
    <button type="submit" class="btn btn-danger" name="submitButton" value="Stop">Stop Video Stream</button>
    <button type="submit" class="btn btn-success" name="submitButton" value="Start">Start Video Stream</button>
}
@foreach (var device in Model.devices)
{
    if (device.StreamActive)
    {
        <div>
            <h6>@device.FriendlyName</h6>
            <video data-dashjs-player autoplay src="http://localhost:1935/live/@device.HostName/manifest.mpd" controls></video>
        </div>
    }
}

